<template name="userView">
	<div class="row user-view-container">
		<div class="col-md-2">
            <div class="img-holder">
                {{> avatar user=user size="large" shape="circle"}}
            </div>
		</div>
		<div class="col-md-2">
			<STRONG>{{user.username}}</STRONG>
			<p>San Francisco, CA, US</p>
			<p>online</p>
		</div>
		<div class="col-md-8">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		</div>
	</div>
	<hr>
	
</template>

<template name="smallerUserView">
	<div class="">
		<div class="row">
            {{#each getUser}}
			<div class="col-md-5">
                <div class="img-holder">
                    {{> avatar user=this shape="circle"}}
                </div>
			</div>
            {{/each}}
			<div class="col-md-7">
				<STRONG>Patrick Pu</STRONG>
				<p>San Francisco, CA, US</p>
				<p>online</p>
			</div>
		</div>
	</div>
</template>

<template name="smallestUserView">
	<div class="">
		<div class="row">
            {{#each getUser}}
			<div class="col-md-5">
                <div class="img-holder">
                    {{> avatar user=this shape="circle"}}
                </div>
			</div>
            {{/each}}
			<div class="col-md-7">
				<STRONG>Patrick Pu</STRONG>
			</div>
		</div>
	</div>
</template>