<template name="userProfile">
	
	<div class="col-lg-3">
		<div class="vertical-section-wrapper">
			{{> smallestUserView}}
		</div>
	</div>
	<div class="col-lg-6 col-lg-offset-1">
		<div class="profile-wrapper">
			<form role="form">
			  <div class="form-group">
			    <label for="username">Username:</label>
			    <input type="text" class="form-control" id="username" value="{{getUsername}}">
			  </div>
			  <div class="form-group">
			    <label for="email">Email address:</label>
			    <input type="email" class="form-control" id="email" value="">
			  </div>
			  <div class="form-group">
			    <label for="self-intro">Self Intoduction:</label>
			    <textarea class="form-control vertical-resize" id="self-intro"> </textarea>
			  </div>
			</form>
		</div>
		
	</div>

</template>