@import "style.less";

//-- navigation

.login-wrapper {
	margin-top: 15px;
}

.customize-header {
	//height: 80px;
}

.logo {
	display: inline-block;
}

//-- explore

.container-wrapper {
	margin-top: 90px;
  	margin-bottom: 10px;
}

//-- user view

.user-icon {
	width: 100px;
	heigth: 100px;
	margin-left: auto;
	margin-rigth: auto;
}

.smaller-user-icon {
	width: 60px;
	heigth: 60px;
	margin-left: auto;
	margin-rigth: auto;
}

.user-view-container {
	margin-top: 20px;
}

.vertical-container {
	//position: absolute;
}

.vertical-section-wrapper {
	margin-top: 20px;
	margin-bot: 20px;
	padding: 15px;
	border-width: 1px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.img-holder{
  float: right;
}

//-- user profile

.profile-wrapper {
	margin-top: 20px;
}

.vertical-resize {
	resize: vertical;
}

.no-padding {
  padding: 0px;
}

.online {
  color: @btn-success-bg;
}

.idle {
  color: @btn-warning-bg;
}

//-- other user profile
.big-top-margin {
  margin-top: 20px;
}

.big-bot-margin {
  margin-bottom: 20px;
}

.top-margin {
  margin-top: 10px;
}

.small-top-margin {
  margin-top: 5px;
}

.tiny-top-margin {
  margin-top: 3px;
}

.bot-margin {
  margin-bottom: 10px;
}

.small-bot-margin {
  margin-bottom: 5px;
}

.tiny-bot-margin {
  margin-bottom: 3px;
}

//-- tag

.tag {
  background: @theme-pink;
  border: 0px solid @theme-pink;
  color: @theme-text-color;
  font-weight: 600;
  //text-transform: uppercase;
}

.full-width {
  width: 100%;
}

//-- photo

.photo-wrapper {
  .big-top-margin;
}

.gallery-item {
  //max-width: 100px;
  position: relative;
}

.photo-remove-marker{
  display:none;
}

.gallery-item:hover >
.photo-remove-marker {
  display:block;
  position: absolute;
  top: 0px;
  right: 0px;
  //color: @theme-pink;
}

//-- footer

.footer-wrapper {
	.with-background;
  	height:200px;
}