@import url('color.less');
@import url('font.less');
@import url('general.less');

.theme-red {
  color: @theme-red;
}

//welcome
#video-filter{
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 130%;
  height: auto;
  min-height: 130%;
  z-index: -900;
  background-color: black;
  opacity: 0.6;
}
#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 130%;
  height: auto;
  min-height: 130%;
  z-index: -1000;
  background-color: @theme-green;
  //background-size: cover;
}
.header-container{
  margin-top: 15%;
}
@media (max-width: 600px) {
  .header-container{
    margin-top: 18%;
  }
}
.fullpage-title {
}
.fullpage-right {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

// nav
.nav-offset {
  padding-top: 90px;
  padding-bottom: 60px;
}
.nav {
  position: fixed;
  z-index: 1002;
  //background-color: #606c88;
}
.nav-wrapper {
  width:50%;
  float:left;
}
.nav-wrapper label{
  line-height: 100%;
}
.nav-container {
  margin-left: 10%;
  margin-right: 5%;
}
.nav-container .modal-trigger {
  margin: 0;
}
@media  (max-width: 600px) {
  nav .input-field label{
    top: 0.8rem;
  }
}
.login-modal {
  heigth: 600px;
  width: 80%;
  max-width: 300px;
}
.modal.login-modal {
  font-size: 0.875em;
}
.modal.login-modal h3{
  font-size: 1.5rem;
}

//jumbotron
.jumbotron-container {
  min-height: 200px;
  max-height: 400px;
  background-image: url('images/pic1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
.jumbotron-img {
  width: 100%;
  height: auto;
  visibility: hidden;
}

//explore
.main-container {
  width: 90%;
  margin: 0px auto 0px auto;
}
.explore-container{
  padding-top: 80px;
}
.parallax-container {
  overflow-y: hidden;
}
.explore-img {
  width: 100%;
  object-fit: cover;
  object-position: 40% 50%;
  min-height: 350px;
  max-height: 500px;
  z-index: -1;
}
.explore-img-container {
  width: 100%;
  heigth: 500px;
  z-index: -1;
}

//user
.card {
  height: auto;
}
.img-holder {
  float: left;
  display:inline-block;
  padding:5px;
}
.text-holder {
  float: left;
  display:inline-block;
  margin: 10px 0px;
  font-size: 0.9rem;
}
.user-info-holder {
  float: left;
  padding: 8px;
}

//profile
.vertical-resize {
	resize: vertical;
}
.profile-wrapper {
  //margin-top: 5px;
}

//footer
footer.page-footer {
  margin-top: 0px;
  //background-color: #3f4c6b;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
}

//-- photo

.photo-wrapper {
  .big-top-margin;
}

.gallery-item {
  //max-width: 100px;
  position: relative;
}

.photo-remove-marker{
  display:none;
}

.gallery-item:hover >
.photo-remove-marker {
  display:block;
  position: absolute;
  top: 0px;
  right: 0px;
  //color: @theme-pink;
}

.photo-fit {
  object-fit: cover;
  object-position: 0 0;
}

.photo-normal{
  .photo-fit;
  width: 50px;
  height: 50px;
}

.photo-large{
  .photo-fit;
  width: 80px;
  height: 80px;
}

.photo-item {
  .photo-fit;
  width: 100%;
  heigth: auto;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexbox-container > div {
  width: 50%;
  height: auto;
  padding: 10px;
}

//--message
.message-user-link-container {
  .box-down-shadow;
  //position: absolute;
  //left:0px;
  float: left;
  width: 200px;
}
.message-user-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 70px;
  padding:10px 5px 10px 10px;
  //min-height: 3rem;
  //padding: 0.5rem 0rem 0rem 0.5rem;
  //background-color: lighten(@theme-red, 5%);
  border-bottom: 1px solid #dddddd;
}
.message-user-link:hover {
  background-color: @theme-red;
}

.message-area {
  .box-down-shadow;
  //position: absolute;
  margin-left: 250px;
  //right: 50px;
}
.message-container {
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
}
.message-text {
  padding: 0px 5px;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0px;
}
.message-text span,
.message-text small,
.message-text strong{
  display:block;
  padding: 1px 5px;
  overflow: hidden;
  word-wrap: break-word;
}
.message-text.break {
  white-space: nowrap;
  overflow:hidden;
}
.message-text.break span{
  text-overflow: ellipsis;
}
.img-holder{
  padding: 5px 10px;
  float: left;
  width:60px;
}
.userImage-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
