<template name="explore">



    <div id="fullpage">

        <div class="section">
            <video autoplay loop muted id="video-bg">
                <source src="videos/king.mp4" type="video/mp4">
            </video>
        </div>

        <div class="section">Some section 1</div>

        <div class="section">Some section 2</div>

        <div class="section">Some section 3</div>

    </div>



	<!--<div clas="explore-img-container col l12">-->
        <!--<img class="explore-img" src="images/b2.jpg">-->
	<!--</div>-->

	<!--<div class="main-container">-->
        <!--<div class="row explore-container">-->
            <!--<div class="col l3">-->
                <!--{{> userView user=currentUser}}-->
            <!--</div>-->

            <!--<div class="col l6">-->
                <!--<section id="user-list">-->
                    <!--<div class="row">-->
                        <!--{{#each getUsersByLastLogin}}-->
                            <!--{{> userView user=this}}-->
                        <!--{{/each}}-->
                    <!--</div>-->

                <!--</section>-->
            <!--</div>-->

            <!--<div class="col l3">-->
                <!--<div class="card blue-grey darken-1">-->
                    <!--<div class="card-content white-text">-->
                        <!--<span class="card-title">Card Title</span>-->
                        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                            <!--I am convenient because I require little markup to use effectively.</p>-->
                    <!--</div>-->
                    <!--<div class="card-action">-->
                        <!--<a href="#">This is a link</a>-->
                        <!--<a href="#">This is a link</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
	<!--</div>-->

</template>



<!--<template name="jumbotron">-->

    <!--<div class="jumbotron-container">-->
        <!--<img class="jumbotron-img" src="images/pic1.jpg"/>-->
    <!--</div>-->

<!--</template>-->


<!--<div class="col-lg-3 col-lg-offset-1 vertical-container">-->
<!--<div class="vertical-section-wrapper">-->
<!--<section>-->
<!--<h6><STRONG>Hottest</STRONG></h6>-->
<!--<hr>-->

<!--&lt;!&ndash;//getUsersByLoginTimes&ndash;&gt;-->
        <!--{{#each getUsersByLoginTimes}}-->
<!--<div class="big-top-margin">-->
<!--{{> smallerUserView user=this}}-->
<!--</div>-->

        <!--{{/each}}-->

<!--</section>-->
<!--</div>-->
<!--<div class="vertical-section-wrapper">-->
<!--<section>-->
<!--<h6><STRONG>Radar</STRONG></h6>-->
<!--<hr>-->
        <!--{{#each getUsersByStatus}}-->
<!--<div class="big-top-margin">-->
<!--{{> smallerUserView user=this}}-->
<!--</div>-->
        <!--{{/each}}-->
<!--</section>-->
<!--</div>-->
<!--</div>-->