<template name="messages">

    <div class="col-md-3">

    </div>

    <div class="col-md-9">

        {{#each getMessage}}
            {{> messageEntry message=this}}
        {{/each}}

    </div>
</template>

<template name="messageEntry">

    <div class="row user-view-container">
        <div class="col-md-2">
            <div class="img-holder">
                <a href="/user/{{message.senderId}}">
                    {{> avatar userId=message.senderId shape="circle"}}
                </a>
            </div>
        </div>
        <div class="col-md-3">
            {{> userInfoById userId=message.senderId}}
        </div>
        <div class="col-md-7">
            <small>{{formatTime message.createdTime}}:</small>
            {{message.message}}
        </div>
    </div>
    <hr>

</template>