<template name="messages">

    <div class="main-container nav-offset">
        <div class="message-page">
            <div class="message-user-link-container">
                {{#each getMessageSendersForCurrentUser}}
                    <div class="message-user-link" data-id="{{this}}">
                        <div class="img-holder">
                            {{> userImage userId=this}}
                        </div>
                        <!--{{> simpleUserInfoById userId=this}}-->
                        <div class="message-text break">
                            <STRONG>{{getUsername userId=this}}</STRONG>
                            {{#each getLatestMessageFrom this}}
                                <small>{{formatTime this.createdTime}}:</small>
                                <span>{{this.message}}</span>
                            {{/each}}
                        </div>

                    </div>

                {{/each}}
            </div>

            <div id="message-container" class="message-area">
                <div class="message-title">
                    Messages
                </div>
                {{#each getMessage}}
                    {{> messageEntry message=this}}
                {{/each}}
                <div class="dummy-message">
                </div>
            </div>

            <div class="message-form-area">
                <form role="form" class="message-form">
                    <div class="input-field">
                        <label for="username">Reply:</label>
                        <input id="message-reply" type="text">
                    </div>
                    <button type="submit" class="btn btn-default">Send</button>
                </form>
            </div>
        </div>

    </div>


</template>


<template name="userImage">
    <div class="userImage-holder" data-id="{{userId}}">
        <a href="#" data-id="{{userId}}">
            <div class="avatar avatar-circle" data-id="{{userId}}">
                {{#if getPhotoUrlById userId}}
                    <img class="avatar-image" src="{{getPhotoUrlById userId}}" alt="avatar" data-id="{{userId}}">
                {{else}}
                    <img class="avatar-image" src="{{identicon userId}}" alt="avatar" data-id="{{userId}}">
                {{/if}}
            </div>
        </a>
    </div>
</template>



<template name="messageEntry">

    <div class="message-container">
        <div class="img-holder">
            {{> userImage userId=message.senderId}}
        </div>
        <div class="message-text">
            <strong>{{getUsernameById message.senderId}}</strong>
            <small>{{formatTime message.createdTime}}:</small>
            <span>{{message.message}}</span>
        </div>
    </div>

</template>

