<template name="messages">
    <div id="messages-container">
        <div class="col-md-3 col-lg-2">
            {{#each getMessageSendersForCurrentUser}}
                <div class="img-holder-left-block top-margin">
                    <a class="message-user-link" data-id="{{this}}" href="#">
                        {{> avatar userId=this size="large" shape="circle"}}
                    </a>
                </div>
            {{/each}}
        </div>

        <div class="col-md-9 col-lg-10">

            {{#each getMessage}}
                {{> messageEntry message=this}}
            {{/each}}

        </div>
    </div>

</template>

<template name="messageEntry">

    <div class="row user-view-container">
        <div class="col-md-2">
            <div class="img-holder">
                <a href="/user/{{message.senderId}}">
                    {{> avatar userId=message.senderId shape="circle"}}
                </a>
            </div>
        </div>
        <div class="col-md-3">
            {{> simpleUserInfoById userId=message.senderId}}
        </div>
        <div class="col-md-7 message-holder">
            <small>{{formatTime message.createdTime}}:</small>
            <!--<p>{{message._id}}</p>-->
            <p>{{message.message}}</p>
        </div>
    </div>
    <hr>

</template>