<template name="navigation">

    <nav class="nav">
        <div class="main-container">

            <div class="nav-wrapper">
                <form id="search-form">
                    <div class="input-field">
                        <input id="search" type="search">
                        <label for="search"><i class="fa fa-search"></i></label>
                        <!--<i class="fa fa-times">close</i>-->
                    </div>
                </form>
            </div>

            <ul id="slide-out" class="side-nav">
                {{#if currentUser}}
                <li><a class="waves-effect waves-light waves-teal" href="/">Home</a></li>
                <li><a class="waves-effect waves-light waves-teal" href="/messages">Message</a></li>
                <!--<li class="no-padding">-->
                    <!--<ul class="collapsible collapsible-accordion">-->
                        <!--<li>-->
                            <!--<a class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>-->
                            <!--<div class="collapsible-body">-->
                                <!--<ul>-->
                                    <li><a class="waves-effect waves-light waves-teal" href="/profile">Profile</a></li>
                                    <li><a class="waves-effect waves-light waves-teal" href="/tag">Tags</a></li>
                                    <li><a class="waves-effect waves-light waves-teal" href="/photos">Photos</a></li>
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                {{/if}}
                <li>
                    {{#if currentUser}}
                        <a class="waves-effect waves-light waves-teal logout-btn" href="#!">
                            Logout
                        </a>
                    {{else}}
                        <a class="waves-effect waves-light waves-teal modal-trigger" href="#modal1">
                            Login
                        </a>
                    {{/if}}
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <!--<li><i class="fa fa-search"></i><input type="text"></li>-->

                {{#if currentUser}}
                <li><a class="waves-effect waves-light waves-teal" href="/explore">Explore</a></li>
                <li><a class="waves-effect waves-light waves-teal" href="/messages">Message</a></li>
                <!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a></li>-->
                <!--<ul id='dropdown1' class='dropdown-content'>-->
                    <li><a class="waves-effect waves-light waves-teal" href="/profile">Profile</a></li>
                    <li><a class="waves-effect waves-light waves-teal" href="/tag">Tags</a></li>
                    <li><a class="waves-effect waves-light waves-teal" href="/photos">Photos</a></li>
                <!--</ul>-->
                {{/if}}
                <li>
                    {{#if currentUser}}
                    <a class="waves-effect waves-light waves-teal logout-btn" href="#!">
                        Logout
                    </a>
                    {{else}}
                    <a class="waves-effect waves-light waves-teal modal-trigger" href="#modal1">
                        Login
                    </a>
                    {{/if}}

                </li>

            </ul>
            <a id="nav-link" href="#" data-activates="slide-out" class="right button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <!-- Modal Structure -->
    <div id="modal1" class="modal login-modal">
        <div class="modal-content">
            {{> atForm}}
        </div>
    </div>

</template>






