<template name="photos">
    <div class="main-container nav-offset">
        <div class="row">
            <div class="col l3">
                {{> smallerUserView user=currentUser}}
                {{> photoUpdate }}
            </div>
            <div class="col l6 offset-l1">
                    <div class="photo-container">

                        {{#each getCurrentUserPhotos}}
                                {{> galleryItem photo=this}}
                        {{/each}}

                    </div>
            </div>
        </div>
    </div>
</template>



<template name="photoUpdate">

    <div class="photo-update-wrapper top-margin">
        <form action="#">
            <input id="photo-upload" type="file" multiple>

            <div id="upload-prepare" class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>

            <div id="upload-progress" class="progress">
                <div class="indeterminate"></div>
            </div>

            <div id="photo-update-btn" class="col l12 btn">
                Upload
            </div>
            <div id="avatar-update-btn" class="col l12 btn top-margin">
                change avatar
            </div>
            <div class="col l12 top-margin">
                <!--{{> photoUp photoUpOptions}}-->
            </div>
        </form>
    </div>

</template>


<template name="galleryItem">
    <div class="gallery-item inline">
        <!--<a href="{{photo.c.url}}" class="thumbnail">-->
        <img src="{{photo.c.url}}" class="img-responsive photo-item materialboxed">
        <!--</a>-->
        <div class="photo-remove-marker">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
</template>
