<template name="photos">
    <div class="main-container nav-offset">
        <div class="row">
            <div class="col l3">
                {{> smallerUserView user=currentUser}}
                {{> photoUpdate }}
            </div>
            <div class="col l6 offset-l1">
                <!--<div class="row">-->
                    <div class="photo-container">

                        <!--<img class="materialboxed" width="650" src="images/b1.jpg">-->

                        <!--<div class="slider">-->
                            <!--<ul class="slides">-->
                                <!--{{#each getCurrentUserPhotos}}-->
                                    <!--<li>-->
                                        <!--<a href="{{this.c.url}}" class="thumbnail">-->
                                            <!--<img src="{{this.c.url}}" class="img-responsive photo-item">-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--{{/each}}-->
                                <!--{{initializeSlider}}-->
                            <!--</ul>-->
                        <!--</div>-->

                        {{#each getCurrentUserPhotos}}
                            <!--<div class="col l6">-->
                                {{> galleryItem photo=this}}
                            <!--</div>-->
                        {{/each}}
                        <!--{{initializeMaterialbox}}-->
                    </div>
                    <!--<img id="photo-logo" src="images/logo.png" alt=""/>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</template>



<template name="photoUpdate">

    <div class="photo-update-wrapper top-margin">
        <form action="#">
            <!--<div class="file-field input-field">-->
                <!--<div class="btn">-->
                    <!--<span>File</span>-->
                    <!--<input id="photo-upload" type="file" multiple>-->
                <!--</div>-->
                <!--<div class="file-path-wrapper">-->
                    <!--<input id="photo-upload-text" class="file-path validate" type="text" placeholder="Upload files">-->
                <!--</div>-->
            <!--</div>-->

            <input id="photo-upload" type="file" multiple>

            <div id="upload-prepare" class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>

            <div id="upload-progress" class="progress">
                <div class="indeterminate"></div>
            </div>

            <div id="photo-update-btn" class="col l12 btn">
                Upload
            </div>
            <div id="avatar-update-btn" class="col l12 btn top-margin">
                change avatar
            </div>
            <div class="col l12 top-margin">
                <!--{{> photoUp photoUpOptions}}-->
            </div>
        </form>
    </div>

</template>


<template name="galleryItem">
    <div class="gallery-item inline">
        <!--<a href="{{photo.c.url}}" class="thumbnail">-->
        <img src="{{photo.c.url}}" class="img-responsive photo-item materialboxed">
        <!--</a>-->
        <div class="photo-remove-marker">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
</template>




<!--<li>-->
    <!--<img src="http://lorempixel.com/580/250/nature/1"> &lt;!&ndash; random image &ndash;&gt;-->
    <!--<div class="caption center-align">-->
        <!--<h3>This is our big Tagline!</h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--</div>-->
<!--</li>-->
<!--<li>-->
    <!--<img src="http://lorempixel.com/580/250/nature/2"> &lt;!&ndash; random image &ndash;&gt;-->
    <!--<div class="caption left-align">-->
        <!--<h3>Left Aligned Caption</h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--</div>-->
<!--</li>-->
<!--<li>-->
    <!--<img src="http://lorempixel.com/580/250/nature/3"> &lt;!&ndash; random image &ndash;&gt;-->
    <!--<div class="caption right-align">-->
        <!--<h3>Right Aligned Caption</h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--</div>-->
<!--</li>-->
<!--<li>-->
    <!--<img src="http://lorempixel.com/580/250/nature/4"> &lt;!&ndash; random image &ndash;&gt;-->
    <!--<div class="caption center-align">-->
        <!--<h3>This is our big Tagline!</h3>-->
        <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--</div>-->
<!--</li>-->