<template name="photos">

    <div class="col-lg-3">
        <div class="vertical-section-wrapper">
            {{> smallerUserView user=getCurrentUser}}
        </div>

        {{>photoUpdate }}
    </div>
    <div class="col-lg-6 col-lg-offset-1 big-top-margin">
        <div class="photo-wrapper">
             <div class="col-lg-4">
                {{#each getCurrentUserPhotos}}
                    <div class="photo-view gallery-item">
                        <a href="{{this.c.url}}" class="thumbnail">
                            <img src="{{this.c.url}}" class="img-responsive">
                        </a>
                        <div class="photo-remove-marker">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                {{/each}}
             </div>
        </div>
    </div>

</template>



<template name="photoUpdate">

    <div class="photo-update-wrapper top-margin">
        <input type="file"/>
        <div id="photo-update-btn" class="col-lg-12 btn btn-cta-primary small-top-margin">
            Upload
        </div>
    </div>

</template>