<template name="userTags">

    <div class="main-container nav-offset">
        <div class="row">
            <div class="col l3">
                {{> smallerUserView user=currentUser}}

                <div id="new-tag" class="small-top-margin no-padding">
                    <input class="full-width" placeholder="Add a tag" type="text"/>
                </div>
                <!--<div id="tag-add" class="col-lg-12 btn btn-cta-primary tiny-top-margin">-->
                    <!--Add-->
                <!--</div>-->
                <div class="top-margin">
                    <a id="tag-add" class="waves-effect waves-light btn">Add</a>
                </div>


                <!--<div id="tag-edit" class="col-lg-12 btn btn-cta-primary tiny-top-margin">-->
                    <!--Edit-->
                <!--</div>-->
                <div class="top-margin">
                    <a id="tag-edit" class="waves-effect waves-light btn">Edit</a>
                </div>


                <div id="delete-btn-wrapper">
                    {{> deleteBtn}}
                </div>
            </div>

            <div id="tags-holder" class="col l6 offset-l1">
                {{> tags}}
            </div>

        </div>

    </div>


</template>

<template name="tags">

    <div class="profile-wrapper">
        {{#each getTags}}
            {{> tag value=this}}
        {{/each}}
    </div>

</template>

<template name="tag">

    <div class="">

        <form action="#">
            <p>
                <input type="checkbox" class="filled-in" id="tag-{{value}}" checked="checked" />
                <label for="tag-{{value}}">{{value}}</label>
            </p>
        </form>

    </div>

</template>

<template name="deleteBtn">
    <div style="display: {{isEditMode}}" class="top-margin">
        <a id="tag-delete" class="waves-effect waves-light btn">Delete</a>
    </div>
</template>