<template name="userView">
        <div class="card">
            <div class="card-content">
                <div class="img-holder">
                    <a href="/user/{{user._id}}">
                        <div class="avatar avatar-circle">
                            {{#if user.photoUrl}}
                                <img class="avatar-image" src="{{user.photoUrl}}" alt="avatar">
                            {{else}}
                                <img class="avatar-image" src="{{identicon user._id}}" alt="avatar">
                            {{/if}}
                        </div>
                    </a>
                </div>
                <div class="user-info-holder">
                    {{> userInfo}}
                </div>
                <div class="text-holder">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>
</template>


<template name="smallerUserView">
	<div class="">
		<div class="row">
			<div class="col-md-5">
                <div class="img-holder">
                    <a href="/user/{{user._id}}">
                        <div class="avatar">
                            {{#if user.photoUrl}}
                                <img class="avatar-image photo-normal" src="{{user.photoUrl}}" alt="avatar">
                            {{else}}
                                <img class="avatar-image photo-normal" src="{{identicon user._id}}" alt="avatar">
                            {{/if}}
                        </div>
                    </a>
                </div>
			</div>
			<div class="col-md-7">
				{{> userInfo}}
			</div>
		</div>
	</div>
</template>

<!--user-info-part-->

<template name="userInfo">
    <p class="tiny-bot-margin">
        <STRONG>{{getUsername user=user}}</STRONG>
        <span class="glyphicon glyphicon-tint {{getStatus user=user}}"></span>
    </p>
    <span class="tiny-top-margin">{{getCity user=user}}</span>
    <p class="tiny-top-margin">{{getLoginTime user=user}}</p>
</template>

<template name="userInfoById">
    <p class="tiny-bot-margin">
        <STRONG>{{getUsername userId=userId}}</STRONG>
        <span class="glyphicon glyphicon-tint {{getStatus userId=userId}}"></span>
    </p>
    <span class="tiny-top-margin">{{getCity userId=userId}}</span>
    <p class="tiny-top-margin">{{getLoginTime userId=userId}}</p>
</template>

<template name="simpleUserInfoById">
    <p class="tiny-bot-margin">
        <STRONG>{{getUsername userId=userId}}</STRONG>
        <span class="glyphicon glyphicon-tint {{getStatus userId=userId}}"></span>
    </p>
</template>



<!--<div class="row user-view-container">-->
<!--<div class="col-md-2">-->
<!--<div class="img-holder">-->
<!--<a href="/user/{{user._id}}">-->

<!--<div class="avatar avatar-large">-->
        <!--{{#if user.photoUrl}}-->
<!--<img class="avatar-image photo-large" src="{{user.photoUrl}}" alt="avatar">-->
        <!--{{else}}-->
<!--<img class="avatar-image photo-large" src="{{identicon user._id}}" alt="avatar">-->
        <!--{{/if}}-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--{{> userInfo}}-->
<!--</div>-->
<!--<div class="col-md-7">-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->