<template name="userView">
        <div class="card">
            <div class="card-content">
                <div class="img-holder">
                    <a href="/user/{{user._id}}">
                        <div class="avatar avatar-circle">
                            {{#if user.photoUrl}}
                                <img class="avatar-image" src="{{user.photoUrl}}" alt="avatar">
                            {{else}}
                                {{#if getFacebookPhotoUrl user._id}}
                                    <img class="avatar-image" src="{{getFacebookPhotoUrl user._id}}" alt="avatar">
                                {{else}}
                                    <img class="avatar-image" src="{{identicon user._id}}" alt="avatar">
                                {{/if}}
                            {{/if}}
                        </div>
                    </a>
                </div>
                <div class="user-info-holder">
                    {{> userInfo}}
                </div>
                <div class="text-holder">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>
</template>


<template name="smallerUserView">
    <div class="card padding-bot">
        <div class="card-content">
            <div class="img-holder">
                <a href="/user/{{user._id}}">
                    <div class="avatar avatar-circle">
                        {{#if user.photoUrl}}
                            <img class="avatar-image" src="{{user.photoUrl}}" alt="avatar">
                        {{else}}
                            {{#if getFacebookPhotoUrl user._id}}
                                <img class="avatar-image" src="{{getFacebookPhotoUrl user._id}}" alt="avatar">
                            {{else}}
                                <img class="avatar-image" src="{{identicon user._id}}" alt="avatar">
                            {{/if}}
                        {{/if}}
                    </div>
                </a>
            </div>
            <div class="user-info-holder">
                {{> userInfo}}
            </div>
        </div>
    </div>
</template>

<!--user-info-part-->
<template name="userInfo">
    <p class="tiny-bot-margin">
        <STRONG>{{getUsername user._id}}</STRONG>
        <span class="glyphicon glyphicon-tint {{getStatus user._id}}"></span>
    </p>
    <span class="tiny-top-margin">{{getCity user._id}}</span>
    <p class="tiny-top-margin">{{getLoginTime user._id}}</p>
</template>

