<template name="welcome">


    <div id="fullpage">

        <div class="section">

            <div id="container">
                <div id="decription text-white">
                    Total divs: <span id="count"></span>
                </div>
            </div>


            <!--<video autoplay loop muted id="video-bg">-->
                <!--<source src="videos/king.mp4" type="video/mp4">-->
            <!--</video>-->

            <!--<div class="container">-->
                <!--<div class="header-container">-->
                    <!--<div class="fullpage-title">-->
                        <!--<h2 class="white-text naiyou">最远的距离</h2>-->
                        <!--<h2 class="white-text naiyou">是TA明明</h2>-->
                        <!--<h2 class="white-text naiyou">在你的身边</h2>-->
                        <!--<h2 class="white-text naiyou">你却没有察觉</h2>-->
                    <!--</div>-->

                    <!--<div class="fullpage-right">-->
                        <!--<a class="waves-effect waves-light btn"><i class="fa fa-sign-in"></i>现在注册</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>

        <div class="section">
            asdf
            <!--{{> explore}}-->
        </div>

    </div>

</template>